.idea
.git
node_modules
backend/.idea
backend/.git
backend/dist
backend/node_modules
backend/.env
backend/static/frontend
backend/logs
backend/uploads
frontend/.idea
frontend/.git
frontend/js
frontend/node_modules